<script>
  $(document).ready(function(){
    ActivateTab('tab-sign-in');
  });
</script>



<% provide(:title, "Prihlásenie") %>
<div class="jumbotron content">
  <h2>Prihlásenie</h2>
  <div class="caption-delimiter"></div>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.submit "Prihlásiť sa", class: "btn btn-large btn-primary" %>
      </p>
    <% end %>
    <p>Si tu nový? <%= link_to "Založ si svoj profil a hraj s nami!", signup_path %></p>
</div>
