<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <div id="mail-header">
      <h1>HK Slovan Trstená</h1>
    </div> -->
    <h2>Zmena profilu hráča v HK Slovan Trstená</h2>
    <p>
      stav: <%= @user.status.name %><br/>
      email: <%= @user.email %><br/>
      meno: <%= @user.firstname %><br/>
      priezvisko: <%= @user.lastname %><br/>
      <% unless @user.name_suffix.blank? %>
        za menom: <%= @user.name_suffix %><br/>
      <% end %>
    </p>
    <p>
      rok nar.: <%= @user.year_of_birth %><br/>
      hrá od: <%= @user.plays_since %><br/>
      tel.: <%= @user.phone_nr %><br/>
      bydlisko: <%= @user.residence %><br/>
    </p>
  </body>
</html>
