<p>
  <%= f.label :firstname, "Meno" %>
  <%= f.text_field :firstname %>
</p>
<p>
  <%= f.label :lastname, "Priezvisko" %>
  <%= f.text_field :lastname %>
</p>
<p>
  <%= f.label :name_suffix, "Za menom (napr. \"st.\")" %>
  <%= f.text_field :name_suffix %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
