<p>
  <%= f.label :firstname, "Meno" %>
  <%= f.text_field :firstname %>
</p>
<p>
  <%= f.label :lastname, "Priezvisko" %>
  <%= f.text_field :lastname %>
</p>
<p>
  <%= f.label :name_suffix, "Za menom (napr. \"st.\")" %>
  <%= f.text_field :name_suffix %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :phone_nr, "Tel.č." %>
  <%= f.text_field :phone_nr %>
</p>
<p>
  <%= f.label :year_of_birth, "Rok narodenia" %>
  <%= f.text_field :year_of_birth %>
</p>
<p>
  <%= f.label :plays_since, "Hokej hrám od" %>
  <%= f.text_field :plays_since %>
</p>
<p>
  <%= f.label :residence, "Bydlisko" %>
  <%= f.text_field :residence %>
</p>
