<script>
  $(document).ready(function(){
    ActivateTab('tab-play-hockey');
  });
</script>



<% provide(:title, 'Nový profil') %>
<div class="jumbotron content">
  <h2>Nový profil</h2>
  <div class="caption-delimiter"></div>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', target: @user %>
    <%= render 'fields', f: f %>
    <%= render 'password_fields', f: f, password_hint: "", tooltip_text: "" %>
    <p>
      <%= f.submit "Vytvoriť profil", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>
