<script>
  
  /* Sets initial status of page fields. */
  function SetFields() {
    $("#match_name").prop("disabled", $("#category-training").is(':checked')); // enable/disable match_name field based on current category selected
  }


  $(document).ready(function(){
    
    ActivateTab('tab-matches');
    SetFields();
    
    $(".match-category").click(function() {
      SetFields();
    });
  
  });
</script>



<% provide(:title, 'Upraviť stretnutie') %>
<%= link_to "Späť na stretnutie", match_path(@match), class: "btn btn-default back-link" %>
<div class="jumbotron content">
  <h2>Upraviť stretnutie</h2>
  <div class="caption-delimiter"></div>
  <%= form_for(@match) do |f| %>
    <%= render 'shared/error_messages', target: @match %>
    <%= render 'match_fields', f: f %>
    <p>
      <%= f.submit "Uložiť", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>