
<script>
  $(document).ready(function(){
    
    ActivateTab('tab-matches');
    SetFields();
    
    $(".match-category").click(function() {
      SetFields();
    });

    $("#send_notification_to_subscribed").click(function() {
      SetFields();
    });
  
  });
</script>



<% provide(:title, 'Upraviť stretnutie') %>
<%= link_to "Späť na stretnutie", match_path(@match), class: "btn btn-default back-link" %>
<div class="jumbotron content">
  <h2>Upraviť stretnutie</h2>
  <div class="caption-delimiter"></div>
  <%= form_for(@match) do |f| %>
    <%= render 'shared/error_messages', target: @match %>
    <%= render 'match_fields', f: f %>
    <p>
      <%= check_box_tag :send_notification_to_subscribed %>
      Odoslať prihláseným notifikačný email o tejto zmene<br/>
      <%= check_box_tag :send_notification_to_others %>
      Odoslať aj ostatným
    </p>
    <p>
      <%= f.submit "Uložiť", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>