
<script>
  $(document).ready(function(){
    
    ActivateTab('tab-matches');
    SetFields();
    
    $(".match-category").click(function() {
      SetFields();
    });
  
  });
</script>



<% provide(:title, 'Nové stretnutie') %>
<%= link_to "Späť na stretnutia", matches_path, class: "btn btn-default back-link" %>
<div class="jumbotron content">
  <h2>Nové stretnutie</h2>
  <div class="caption-delimiter"></div>
  <%= form_for(@match) do |f| %>
    <%= render 'shared/error_messages', target: @match %>
    <%= render 'match_fields', f: f %>
    <p>
      <%= check_box_tag :send_notification %>
      Odoslať všetkým notifikačný email o tomto stretnutí
    </p>
    <p>
      <%= f.submit "Vytvoriť stretnutie", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>
