<header>

  <div class="navigation-area">
    <div class="container">  
      <ul class="nav nav-tabs">
        <li id="tab-play-hockey" class="active"><%= link_to "Domov", root_path %></li>
        <li id="tab-matches"><%= link_to "Stretnutia", matches_path %></li>
        <li id="tab-players"><%= link_to "Hráči", users_path %></li>
        <li id="tab-gallery" class="disabled"><%= link_to "Fotogaléria", "#" %></li>
        <li id="tab-links" class="disabled"><%= link_to "Linky", "#" %></li>
        <% if !signed_in? %>
          <li id="tab-sign-in"><%= link_to "Prihlásiť sa", signin_path %></li>
        <% else %>
          <li id="tab-player-name" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= "#{current_user.fullname}" %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li id="tab-my-profile">
                <%= link_to "Môj profil", user_path(current_user) %>
              </li>
              <li id="tab-sign-out">
                <%= link_to "Odhlásiť sa", signout_path, method: :delete %>
              </li>
              <% if !current_user.admin? %>
                <li class="divider"></li>
                <li id="tab-delete-profile">
                  <%= link_to "Zrušiť profil", user_path(current_user), method: :delete, data: { confirm: "POZOR: zušenie profilu nie je možné vrátiť. Naozaj vymazať profil?" } %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div><!-- navigation-area -->

</header>
